<center>
  <h2>Trabajo Laboratorio de Implementación III - MCD Virtual Cohorte 2022</h2>
  <h3>Forecasting para una Empresa de Consumo Masivo</h3>
  <h4>Experimento 14 AutoGluon</h4>
</center>

In [1]:
# !pip install autogluon
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from autogluon.timeseries import TimeSeriesDataFrame, TimeSeriesPredictor

In [2]:
df = pd.read_csv("C:/Users/usuario/otros/Desktop/MCD/6 Labo III/Forecasting Problem/Datasets/df_ventas_product_fill_extreme_values_095.csv", header = None)
df.columns = ["timestamp", "item_id", "target"]
df.head(5)

    timestamp  item_id      target
0  2017-01-01    20001   934.77222
1  2017-02-01    20001   798.01620
2  2017-03-01    20001  1303.35771
3  2017-04-01    20001  1069.96130
4  2017-05-01    20001  1502.20132

In [3]:
df_product = pd.read_csv("C:/Users/usuario/otros/Desktop/MCD/6 Labo III/Forecasting Problem/Datasets/df_products_corr.csv", header = None)
df_product.columns = ["item_id", "cat1", "cat2", "cat3", "brand", "sku_size", 
                      "corr_20001", "corr_20002", "corr_20003", "corr_20005", "corr_20004", "corr_20009", "corr_20032", "corr_20006", "corr_20007", "corr_20010"]
df_product.head(5)

,item_id,cat1,cat2,cat3,brand,sku_size,corr_20001,corr_20002,corr_20003,corr_20005,corr_20004,corr_20009,corr_20032,corr_20006,corr_20007,corr_20010
0,20280,HC,ROPA LAVADO,Liquido,LIMPIEX,900,0.344376,0.251042,0.149971,0.056807,0.179661,0.107151,0.091045,-0.142871,0.511455,0.054308
1,20180,HC,ROPA LAVADO,Liquido,LIMPIEX,450,0.277107,0.164447,0.035649,0.454793,0.478442,0.356229,0.201214,-0.003315,0.772228,0.737458
2,20332,HC,ROPA LAVADO,Liquido,LIMPIEX,120,-0.620015,-0.316214,-0.103129,0.029887,0.088297,0.197564,0.070152,-0.304822,0.373020,0.510303
3,20222,HC,ROPA LAVADO,Liquido,LIMPIEX,450,0.403952,0.245037,0.294852,0.568689,0.475148,0.344290,0.123933,0.222539,0.442538,0.883702
4,20288,HC,ROPA LAVADO,Liquido,LIMPIEX,900,0.441335,0.129863,0.266306,0.254267,0.241912,0.499360,0.288560,-0.433734,0.179030,0.003566

In [4]:
df_related = pd.read_csv("C:/Users/usuario/otros/Desktop/MCD/6 Labo III/Forecasting Problem/Datasets/df_related_product_v2.csv", header = None)
related_cols = ['timestamp',
 'item_id',
 'month',
 'quarter',
 'days_in_month',
 'sundays',
 'saturdays',
 'lag1m',
 'lag2m',
 'lag3m',
 'lag4m',
 'lag5m',
 'lag6m',
 'lag7m',
 'lag8m',
 'lag9m',
 'lag10m',
 'lag11m',
 'lag12m',
 'delta1',
 'delta2',
 'delta3',
 'delta4',
 'delta5',
 'delta6',
 'delta7',
 'delta8',
 'delta9',
 'delta10',
 'delta11',
 'delta12',
 'monthly_percentage',
 'ipc',
 'dolar']
df_related.columns = related_cols
df_related.head(5)

,timestamp,item_id,month,quarter,days_in_month,sundays,saturdays,lag1m,lag2m,lag3m,...,delta6,delta7,delta8,delta9,delta10,delta11,delta12,monthly_percentage,ipc,dolar
0,2017-01-01,20001,1,1,31,5,4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.310483,19.7,16.853182
1,2017-02-01,20001,2,1,28,4,4,934.77222,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.387267,19.5,16.425000
2,2017-03-01,20001,3,1,31,4,4,798.01620,934.77222,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.798738,18.4,16.062273
3,2017-04-01,20001,4,2,30,5,5,1303.35771,798.01620,934.77222,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.223120,17.5,15.921667
4,2017-05-01,20001,5,2,31,4,4,1069.96130,1303.35771,798.01620,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.141096,17.0,16.104762

In [5]:
df_extendido = pd.merge(df, df_related, how = "left", on = ["timestamp", "item_id"])
print(df_extendido.timestamp.max())
df_extendido.head(5)

2019-12-01

,timestamp,item_id,target,month,quarter,days_in_month,sundays,saturdays,lag1m,lag2m,...,delta6,delta7,delta8,delta9,delta10,delta11,delta12,monthly_percentage,ipc,dolar
0,2017-01-01,20001,934.77222,1,1,31,5,4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.310483,19.7,16.853182
1,2017-02-01,20001,798.01620,2,1,28,4,4,934.77222,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.387267,19.5,16.425000
2,2017-03-01,20001,1303.35771,3,1,31,4,4,798.01620,934.77222,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.798738,18.4,16.062273
3,2017-04-01,20001,1069.96130,4,2,30,5,5,1303.35771,798.01620,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.223120,17.5,15.921667
4,2017-05-01,20001,1502.20132,5,2,31,4,4,1069.96130,1303.35771,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.141096,17.0,16.104762

In [6]:
data = TimeSeriesDataFrame.from_data_frame(df_extendido,
                                           id_column="item_id",
                                           timestamp_column="timestamp",
                                           static_features_df=df_product)
data.head()

                        target  month  quarter  days_in_month  sundays  \
item_id timestamp
20001   2017-01-01   934.77222      1        1             31        5
        2017-02-01   798.01620      2        1             28        4
        2017-03-01  1303.35771      3        1             31        4
        2017-04-01  1069.96130      4        2             30        5
        2017-05-01  1502.20132      5        2             31        4

                    saturdays       lag1m       lag2m      lag3m      lag4m  \
item_id timestamp
20001   2017-01-01          4         NaN         NaN        NaN        NaN
        2017-02-01          4   934.77222         NaN        NaN        NaN
        2017-03-01          4   798.01620   934.77222        NaN        NaN
        2017-04-01          5  1303.35771   798.01620  934.77222        NaN
        2017-05-01          4  1069.96130  1303.35771  798.01620  934.77222

                    ...  delta6  delta7  delta8  delta9  delta10  delta11  \
item_id timestamp   ...
20001   2017-01-01  ...     NaN     NaN     NaN     NaN      NaN      NaN
        2017-02-01  ...     NaN     NaN     NaN     NaN      NaN      NaN
        2017-03-01  ...     NaN     NaN     NaN     NaN      NaN      NaN
        2017-04-01  ...     NaN     NaN     NaN     NaN      NaN      NaN
        2017-05-01  ...     NaN     NaN     NaN     NaN      NaN      NaN

                    delta12  monthly_percentage   ipc      dolar
item_id timestamp
20001   2017-01-01      NaN            6.310483  19.7  16.853182
        2017-02-01      NaN            5.387267  19.5  16.425000
        2017-03-01      NaN            8.798738  18.4  16.062273
        2017-04-01      NaN            7.223120  17.5  15.921667
        2017-05-01      NaN           10.141096  17.0  16.104762

[5 rows x 33 columns]

In [7]:
data.static_features.head()

,cat1,cat2,cat3,brand,sku_size,corr_20001,corr_20002,corr_20003,corr_20005,corr_20004,corr_20009,corr_20032,corr_20006,corr_20007,corr_20010
item_id,,,,,,,,,,,,,,,
20280,HC,ROPA LAVADO,Liquido,LIMPIEX,900,0.344376,0.251042,0.149971,0.056807,0.179661,0.107151,0.091045,-0.142871,0.511455,0.054308
20180,HC,ROPA LAVADO,Liquido,LIMPIEX,450,0.277107,0.164447,0.035649,0.454793,0.478442,0.356229,0.201214,-0.003315,0.772228,0.737458
20332,HC,ROPA LAVADO,Liquido,LIMPIEX,120,-0.620015,-0.316214,-0.103129,0.029887,0.088297,0.197564,0.070152,-0.304822,0.373020,0.510303
20222,HC,ROPA LAVADO,Liquido,LIMPIEX,450,0.403952,0.245037,0.294852,0.568689,0.475148,0.344290,0.123933,0.222539,0.442538,0.883702
20288,HC,ROPA LAVADO,Liquido,LIMPIEX,900,0.441335,0.129863,0.266306,0.254267,0.241912,0.499360,0.288560,-0.433734,0.179030,0.003566

In [8]:
covariates = data.drop(columns = "target").columns

predictor = TimeSeriesPredictor(target='target',
                                prediction_length=2, 
                                freq="M",
                                eval_metric = "WQL",
                                known_covariates_names = covariates).fit(data, 
                                                                         num_val_windows=3,
                                                                         val_step_size=1)

Frequency 'M' stored as 'ME'
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels\ag-20240706_192017'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.11.2
Operating System:   Windows
Platform Machine:   AMD64
Platform Version:   10.0.19045
CPU Count:          8
GPU Count:          0
Memory Avail:       1.51 GB / 7.88 GB (19.1%)
Disk Space Avail:   9.69 GB / 110.21 GB (8.8%)
	WARNING: Available disk space is low and there is a risk that AutoGluon will run out of disk during fit, causing an exception.
	We recommend a minimum available disk space of 10 GB, and large datasets may require more.
===================================================

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'freq': 'ME',
 'hyperparameters': 'default',
 'known_covariates_names': ['month',
                            'quarter',
                            'days_in_month',
                            'sundays',
                            'saturdays',
                            'lag1m',
                            'lag2m',
                            'lag3m',
                            'lag4m',
                            'lag5m',
                            'lag6m',
                            'lag7m',
                            'lag8m',
                            'lag9m',
                            'lag10m',
                            'lag11m',
                            'lag12m',
                            'delta1',
                            'delta2',
                            'delta3',
                            'delta4',
                            'delta5',
                            'delta6',
                            'delta7',
                            'delta8',
                            'delta9',
                            'delta10',
                            'delta11',
                            'delta12',
                            'monthly_percentage',
                            'ipc',
                            'dolar'],
 'num_val_windows': 3,
 'prediction_length': 2,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': False,
 'target': 'target',
 'val_step_size': 1,
 'verbosity': 2}

train_data with frequency 'None' has been resampled to frequency 'ME'.
Provided train_data has 22375 rows (NaN fraction=0.1%), 780 time series. Median time series length is 36 (min=4, max=36).
	Removing 75 short time series from train_data. Only series with length >= 9 will be used for training.
	After filtering, train_data has 21916 rows (NaN fraction=0.1%), 705 time series. Median time series length is 36 (min=9, max=36).

Provided data contains following columns:
	target: 'target'
	known_covariates:
		categorical:        []
		continuous (float): ['month', 'quarter', 'days_in_month', 'sundays', 'saturdays', 'lag1m', ...]
	static_features:
		categorical:        ['cat1', 'cat2', 'cat3', 'brand']
		continuous (float): ['sku_size', 'corr_20001', 'corr_20002', 'corr_20003', 'corr_20005', 'corr_20004', ...]

To learn how to fix incorrectly inferred types, please see documentation for TimeSeriesPredictor.fit

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-07-06 16:20:39
Models that will be trained: ['SeasonalNaive', 'RecursiveTabular', 'DirectTabular', 'CrostonSBA', 'NPTS', 'DynamicOptimizedTheta', 'AutoETS', 'AutoARIMA', 'Chronos[base]', 'TemporalFusionTransformer', 'DeepAR', 'PatchTST']
Training timeseries model SeasonalNaive.
	-0.2144       = Validation score (-WQL)
	12.63   s     = Training runtime
	1.62    s     = Validation (prediction) runtime
Training timeseries model RecursiveTabular.
	Time series in the dataset are too short for chosen differences [12]. Setting differences to [1].
	Time series in the dataset are too short for chosen differences [12]. Setting differences to [1].
	Time series in the dataset are too short for chosen differences [12]. Setting differences to [1].
	-0.1383       = Validation score (-WQL)
	1438.12 s     = Training runtime
	3.23    s     = Validation (prediction) runtime
Training timeseries model DirectTabular.
	-0.0251       = Validation score (-WQL)
	5019.27 s     = Training runtime
	15.43   s     = Validation (prediction) runtime
Training timeseries model CrostonSBA.
	-0.2002       = Validation score (-WQL)
	42.04   s     = Training runtime
	1.20    s     = Validation (prediction) runtime
Training timeseries model NPTS.
	-0.2609       = Validation score (-WQL)
	3.92    s     = Training runtime
	1.53    s     = Validation (prediction) runtime
Training timeseries model DynamicOptimizedTheta.
	-0.1917       = Validation score (-WQL)
	81.48   s     = Training runtime
	2.56    s     = Validation (prediction) runtime
Training timeseries model AutoETS.
	Warning: AutoETS\W0 failed for 45 time series (6.4%). Fallback model SeasonalNaive was used for these time series.
	Warning: AutoETS\W1 failed for 30 time series (4.3%). Fallback model SeasonalNaive was used for these time series.
	-0.1864       = Validation score (-WQL)
	102.28  s     = Training runtime
	23.33   s     = Validation (prediction) runtime
Training timeseries model AutoARIMA.
	-0.2219       = Validation score (-WQL)
	116.04  s     = Training runtime
	65.87   s     = Validation (prediction) runtime
Training timeseries model Chronos[base].
	Warning: Exception caused Chronos[base] to fail during training... Skipping this model.
	Chronos[base]\W0 requires a GPU to run, but no GPU was detected. Please make sure that you are using a computer with a CUDA-compatible GPU and `import torch; torch.cuda.is_available()` returns `True`.
Training timeseries model TemporalFusionTransformer.
	-0.3602       = Validation score (-WQL)
	3335.32 s     = Training runtime
	2.34    s     = Validation (prediction) runtime
Training timeseries model DeepAR.
	-0.3045       = Validation score (-WQL)
	910.04  s     = Training runtime
	2.37    s     = Validation (prediction) runtime
Training timeseries model PatchTST.
	-0.1800       = Validation score (-WQL)
	346.51  s     = Training runtime
	1.10    s     = Validation (prediction) runtime
Fitting simple weighted ensemble.
	Ensemble weights: {'DirectTabular': 0.98, 'RecursiveTabular': 0.02}
	-0.0250       = Validation score (-WQL)
	11.26   s     = Training runtime
	18.66   s     = Validation (prediction) runtime
Training complete. Models trained: ['SeasonalNaive', 'RecursiveTabular', 'DirectTabular', 'CrostonSBA', 'NPTS', 'DynamicOptimizedTheta', 'AutoETS', 'AutoARIMA', 'TemporalFusionTransformer', 'DeepAR', 'PatchTST', 'WeightedEnsemble']
Total runtime: 11550.07 s
Best model: WeightedEnsemble
Best model score: -0.0250

In [9]:
predictor.leaderboard()

,model,score_val,pred_time_val,fit_time_marginal,fit_order
0,WeightedEnsemble,-0.025021,18.663525,11.262417,12
1,DirectTabular,-0.025101,15.430153,5019.270383,3
2,RecursiveTabular,-0.138344,3.233372,1438.120919,2
3,PatchTST,-0.180033,1.104771,346.508639,11
4,AutoETS,-0.186423,23.330246,102.279073,7
5,DynamicOptimizedTheta,-0.191702,2.564576,81.482514,6
6,CrostonSBA,-0.200184,1.195610,42.035967,4
7,SeasonalNaive,-0.214376,1.615702,12.629532,1
8,AutoARIMA,-0.221880,65.872531,116.036097,8
9,NPTS,-0.260869,1.534147,3.918036,5
10,DeepAR,-0.304525,2.365126,910.037646,10
11,TemporalFusionTransformer,-0.360160,2.337678,3335.324162,9

In [10]:
predictor.feature_importance()

Computing feature importance

                    importance     stdev    n   p99_low  p99_high
cat1                  0.000000  0.000000  5.0  0.000000  0.000000
cat2                  0.000000  0.000000  5.0  0.000000  0.000000
cat3                  0.000000  0.000000  5.0  0.000000  0.000000
brand                 0.000000  0.000000  5.0  0.000000  0.000000
sku_size             -0.000019  0.000133  5.0 -0.000292  0.000255
corr_20001           -0.000027  0.000041  5.0 -0.000111  0.000057
corr_20002            0.000026  0.000367  5.0 -0.000729  0.000782
corr_20003            0.000161  0.000315  5.0 -0.000489  0.000810
corr_20005            0.000126  0.000298  5.0 -0.000488  0.000739
corr_20004            0.000352  0.000410  5.0 -0.000492  0.001196
corr_20009           -0.000059  0.000221  5.0 -0.000513  0.000396
corr_20032            0.000098  0.000667  5.0 -0.001275  0.001472
corr_20006            0.000183  0.000097  5.0 -0.000015  0.000382
corr_20007            0.000229  0.000349  5.0 -0.000489  0.000947
corr_20010            0.000003  0.000052  5.0 -0.000105  0.000110
month                 0.003857  0.002478  5.0 -0.001244  0.008958
quarter               0.000940  0.001494  5.0 -0.002136  0.004016
days_in_month         0.000246  0.000564  5.0 -0.000914  0.001407
sundays               0.000027  0.000227  5.0 -0.000441  0.000495
saturdays             0.000279  0.000780  5.0 -0.001327  0.001886
lag1m                 0.050528  0.017559  5.0  0.014374  0.086682
lag2m                 0.007028  0.007161  5.0 -0.007717  0.021773
lag3m                 0.001393  0.003328  5.0 -0.005459  0.008246
lag4m                 0.001130  0.001878  5.0 -0.002737  0.004997
lag5m                -0.000017  0.001433  5.0 -0.002967  0.002932
lag6m                -0.000023  0.001035  5.0 -0.002155  0.002108
lag7m                 0.000028  0.000742  5.0 -0.001501  0.001557
lag8m                 0.000184  0.001680  5.0 -0.003274  0.003643
lag9m                 0.001589  0.001871  5.0 -0.002263  0.005441
lag10m                0.000832  0.000533  5.0 -0.000265  0.001929
lag11m                0.000738  0.000505  5.0 -0.000302  0.001779
lag12m                0.000704  0.000323  5.0  0.000038  0.001369
delta1                0.065870  0.013487  5.0  0.038099  0.093641
delta2                0.028870  0.003220  5.0  0.022241  0.035499
delta3                0.010128  0.003002  5.0  0.003947  0.016310
delta4                0.006562  0.004592  5.0 -0.002893  0.016017
delta5                0.004999  0.002678  5.0 -0.000515  0.010512
delta6                0.004758  0.002974  5.0 -0.001366  0.010881
delta7                0.004111  0.002726  5.0 -0.001502  0.009725
delta8                0.001183  0.000749  5.0 -0.000360  0.002726
delta9                0.000699  0.000743  5.0 -0.000830  0.002229
delta10               0.000035  0.000405  5.0 -0.000800  0.000869
delta11              -0.000143  0.000670  5.0 -0.001523  0.001236
delta12               0.000056  0.001571  5.0 -0.003180  0.003291
monthly_percentage    0.116636  0.068537  5.0 -0.024482  0.257753
ipc                   0.000500  0.000275  5.0 -0.000065  0.001066
dolar                 0.003079  0.002207  5.0 -0.001466  0.007624

In [11]:
known_covariates_future = df_related[df_related.timestamp > df.timestamp.max()]
# Llevamos las fechas futuras a fin de mes porque así lo espera el metodo predict
known_covariates_future['timestamp'] = pd.to_datetime(known_covariates_future['timestamp'])
known_covariates_future['timestamp'] = known_covariates_future['timestamp'] + pd.offsets.MonthEnd(0)
known_covariates_future['timestamp'] = known_covariates_future['timestamp'].dt.strftime('%Y-%m-%d')
print(known_covariates_future.timestamp.min(), known_covariates_future.timestamp.max())
known_covariates_future = TimeSeriesDataFrame.from_data_frame(known_covariates_future,
                                                              id_column="item_id",
                                                              timestamp_column="timestamp")
known_covariates_future.head()

2020-01-31 2020-02-29

                    month  quarter  days_in_month  sundays  saturdays  \
item_id timestamp
20001   2020-01-31      1        1             31        4          4
        2020-02-29      2        1             29        4          5
20002   2020-01-31      1        1             31        4          4
        2020-02-29      2        1             29        4          5
20003   2020-01-31      1        1             31        4          4

                         lag1m       lag2m        lag3m        lag4m  \
item_id timestamp
20001   2020-01-31  1504.68856  1397.37231  1561.505520  1660.005610
        2020-02-29         NaN  1504.68856  1397.372310  1561.505520
20002   2020-01-31  1087.30855  1423.57739  1509.385713  1090.187710
        2020-02-29         NaN  1087.30855  1423.577390  1509.385713
20003   2020-01-31   892.50129   948.29393  1081.366450   967.771160

                         lag5m  ...  delta6  delta7  delta8  delta9  delta10  \
item_id timestamp               ...
20001   2020-01-31  1261.34529  ...     NaN     NaN     NaN     NaN      NaN
        2020-02-29  1660.00561  ...     NaN     NaN     NaN     NaN      NaN
20002   2020-01-31   813.78215  ...     NaN     NaN     NaN     NaN      NaN
        2020-02-29  1090.18771  ...     NaN     NaN     NaN     NaN      NaN
20003   2020-01-31   635.59563  ...     NaN     NaN     NaN     NaN      NaN

                    delta11  delta12  monthly_percentage   ipc      dolar
item_id timestamp
20001   2020-01-31      NaN      NaN            7.308178  40.0  77.477273
        2020-02-29      NaN      NaN            7.212629  39.9  78.191667
20002   2020-01-31      NaN      NaN            9.290639  40.0  77.477273
        2020-02-29      NaN      NaN            7.649477  39.9  78.191667
20003   2020-01-31      NaN      NaN           10.242019  40.0  77.477273

[5 rows x 32 columns]

In [12]:
predictions = predictor.predict(data,
                                known_covariates = known_covariates_future)

data with frequency 'None' has been resampled to frequency 'ME'.
Model not specified in predict, will default to the model with the best validation score: WeightedEnsemble

In [13]:
predictions_v1 = predictions.copy()
predictions_v1 = predictions_v1.reset_index()
predictions_v1 = predictions_v1[["item_id", "timestamp", "mean"]]
predictions_v1 = predictions_v1[predictions_v1.timestamp == "2020-02-29"]
predictions_v1 = predictions_v1.drop(columns = {"timestamp"})
predictions_v1 = predictions_v1.rename(columns = {"item_id":"product_id", "mean":"tn"})
predictions_v1.head(5)

   product_id           tn
1       20001  1401.976807
3       20002  1099.048340
5       20003   844.113220
7       20004   590.573792
9       20005   532.849854

In [14]:
predictions_v1.to_csv("C:/Users/usuario/otros/Desktop\MCD/6 Labo III/Forecasting Problem/Outputs/prediccion_autogluon_static_features_and_covariates_newFeatures.csv", sep = ",", index = False)

In [16]:
predictions = predictor.predict(data,
                                known_covariates = known_covariates_future,
                                model = "DirectTabular")

data with frequency 'None' has been resampled to frequency 'ME'.

In [17]:
predictions_v1 = predictions.copy()
predictions_v1 = predictions_v1.reset_index()
predictions_v1 = predictions_v1[["item_id", "timestamp", "mean"]]
predictions_v1 = predictions_v1[predictions_v1.timestamp == "2020-02-29"]
predictions_v1 = predictions_v1.drop(columns = {"timestamp"})
predictions_v1 = predictions_v1.rename(columns = {"item_id":"product_id", "mean":"tn"})
predictions_v1.head(5)

   product_id           tn
1       20001  1406.218506
3       20002  1103.453369
5       20003   846.968506
7       20004   593.018860
9       20005   535.524841

In [18]:
predictions_v1.to_csv("C:/Users/usuario/otros/Desktop\MCD/6 Labo III/Forecasting Problem/Outputs/prediccion_autogluon_static_features_and_covariates_newFeatures_DTM.csv", sep = ",", index = False)

In [19]:
predictions = predictor.predict(data,
                                known_covariates = known_covariates_future,
                                model = "RecursiveTabular")

data with frequency 'None' has been resampled to frequency 'ME'.

In [20]:
predictions_v1 = predictions.copy()
predictions_v1 = predictions_v1.reset_index()
predictions_v1 = predictions_v1[["item_id", "timestamp", "mean"]]
predictions_v1 = predictions_v1[predictions_v1.timestamp == "2020-02-29"]
predictions_v1 = predictions_v1.drop(columns = {"timestamp"})
predictions_v1 = predictions_v1.rename(columns = {"item_id":"product_id", "mean":"tn"})
predictions_v1.head(5)

   product_id           tn
1       20001  1155.957275
3       20002   843.560852
5       20003   678.508545
7       20004   448.760773
9       20005   377.703705

In [21]:
predictions_v1.to_csv("C:/Users/usuario/otros/Desktop\MCD/6 Labo III/Forecasting Problem/Outputs/prediccion_autogluon_static_features_and_covariates_newFeatures_RTM.csv", sep = ",", index = False)