<center>
  <h2>Trabajo Laboratorio de Implementación III - MCD Virtual Cohorte 2022</h2>
  <h3>Forecasting para una Empresa de Consumo Masivo</h3>
  <h4>Experimento 6 AutoGluon</h4>
</center>

In [1]:
# !pip install autogluon
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from autogluon.timeseries import TimeSeriesDataFrame, TimeSeriesPredictor

In [2]:
df = pd.read_csv("C:/Users/usuario/otros/Desktop/MCD/6 Labo III/Forecasting Problem/Datasets/df_ventas_product_v1.csv", header = None)
df.columns = ["timestamp", "item_id", "target"]
df.head(5)

    timestamp  item_id      target
0  2017-01-01    20001   934.77222
1  2017-01-01    20002   550.15707
2  2017-01-01    20003  1063.45835
3  2017-01-01    20004   555.91614
4  2017-01-01    20005   494.27011

In [3]:
df_product = pd.read_csv("C:/Users/usuario/otros/Desktop/MCD/6 Labo III/Forecasting Problem/Datasets/df_products_v1.csv", header = None)
df_product.columns = ["item_id", "cat1", "cat2", "cat3", "brand", "sku_size"]
df_product.head(5)

   item_id cat1         cat2     cat3    brand  sku_size
0    20280   HC  ROPA LAVADO  Liquido  LIMPIEX       900
1    20180   HC  ROPA LAVADO  Liquido  LIMPIEX       450
2    20332   HC  ROPA LAVADO  Liquido  LIMPIEX       120
3    20222   HC  ROPA LAVADO  Liquido  LIMPIEX       450
4    20288   HC  ROPA LAVADO  Liquido  LIMPIEX       900

In [6]:
df_related = pd.read_csv("C:/Users/usuario/otros/Desktop/MCD/6 Labo III/Forecasting Problem/Datasets/df_related_product_v1.csv", header = None)
related_cols = ['timestamp',
 'item_id',
 'month',
 'quarter',
 'days_in_month',
 'sundays',
 'saturdays',
 'lag1m',
 'lag2m',
 'lag3m',
 'lag4m',
 'lag5m',
 'lag6m',
 'lag7m',
 'lag8m',
 'lag9m',
 'lag10m',
 'lag11m',
 'lag12m',
 'delta1',
 'delta2',
 'delta3',
 'delta4',
 'delta5',
 'delta6',
 'delta7',
 'delta8',
 'delta9',
 'delta10',
 'delta11',
 'delta12',
 'monthly_percentage',
 'lowerextremepoint',
 'upperextremepoint']
df_related.columns = related_cols
df_related.head(5)

,timestamp,item_id,month,quarter,days_in_month,sundays,saturdays,lag1m,lag2m,lag3m,...,delta6,delta7,delta8,delta9,delta10,delta11,delta12,monthly_percentage,lowerextremepoint,upperextremepoint
0,2017-01-01,20001,1,1,31,5,4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.310483,1.0,0.0
1,2017-02-01,20001,2,1,28,4,4,934.77222,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.387267,1.0,0.0
2,2017-03-01,20001,3,1,31,4,4,798.01620,934.77222,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.798738,0.0,0.0
3,2017-04-01,20001,4,2,30,5,5,1303.35771,798.01620,934.77222,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.223120,0.0,0.0
4,2017-05-01,20001,5,2,31,4,4,1069.96130,1303.35771,798.01620,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.141096,0.0,0.0

In [7]:
df_extendido = pd.merge(df, df_related, how = "left", on = ["timestamp", "item_id"])
print(df_extendido.timestamp.max())
df_extendido.head(5)

2019-12-01

,timestamp,item_id,target,month,quarter,days_in_month,sundays,saturdays,lag1m,lag2m,...,delta6,delta7,delta8,delta9,delta10,delta11,delta12,monthly_percentage,lowerextremepoint,upperextremepoint
0,2017-01-01,20001,934.77222,1,1,31,5,4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.310483,1.0,0.0
1,2017-01-01,20002,550.15707,1,1,31,5,4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.990622,0.0,0.0
2,2017-01-01,20003,1063.45835,1,1,31,5,4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.799958,0.0,0.0
3,2017-01-01,20004,555.91614,1,1,31,5,4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.312602,0.0,0.0
4,2017-01-01,20005,494.27011,1,1,31,5,4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.998823,0.0,0.0

In [8]:
data = TimeSeriesDataFrame.from_data_frame(df_extendido,
                                           id_column="item_id",
                                           timestamp_column="timestamp",
                                           static_features_df=df_product)
data.head()

,,target,month,quarter,days_in_month,sundays,saturdays,lag1m,lag2m,lag3m,lag4m,...,delta6,delta7,delta8,delta9,delta10,delta11,delta12,monthly_percentage,lowerextremepoint,upperextremepoint
item_id,timestamp,,,,,,,,,,,,,,,,,,,,,
20001,2017-01-01,934.77222,1,1,31,5,4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.310483,1.0,0.0
20002,2017-01-01,550.15707,1,1,31,5,4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.990622,0.0,0.0
20003,2017-01-01,1063.45835,1,1,31,5,4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.799958,0.0,0.0
20004,2017-01-01,555.91614,1,1,31,5,4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.312602,0.0,0.0
20005,2017-01-01,494.27011,1,1,31,5,4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.998823,0.0,0.0

In [9]:
data.static_features.head()

        cat1         cat2     cat3    brand  sku_size
item_id
20280     HC  ROPA LAVADO  Liquido  LIMPIEX       900
20180     HC  ROPA LAVADO  Liquido  LIMPIEX       450
20332     HC  ROPA LAVADO  Liquido  LIMPIEX       120
20222     HC  ROPA LAVADO  Liquido  LIMPIEX       450
20288     HC  ROPA LAVADO  Liquido  LIMPIEX       900

In [10]:
covariates = data.drop(columns = "target").columns

predictor = TimeSeriesPredictor(target='target',
                                prediction_length=2, 
                                freq="M",
                                eval_metric = "WQL",
                                known_covariates_names = covariates).fit(data, 
                                                                         num_val_windows=3,
                                                                         val_step_size=1)

Frequency 'M' stored as 'ME'
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels\ag-20240620_233441'

=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.11.2
Operating System:   Windows
Platform Machine:   AMD64
Platform Version:   10.0.19045
CPU Count:          8
GPU Count:          0
Memory Avail:       1.96 GB / 7.88 GB (24.8%)
Disk Space Avail:   5.61 GB / 110.21 GB (5.1%)
	WARNING: Available disk space is low and there is a risk that AutoGluon will run out of disk during fit, causing an exception.
	We recommend a minimum available disk space of 10 GB, and large datasets may require more.
===================================================

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'freq': 'ME',
 'hyperparameters': 'default',
 'known_covariates_names': ['month',
                            'quarter',
                            'days_in_month',
                            'sundays',
                            'saturdays',
                            'lag1m',
                            'lag2m',
                            'lag3m',
                            'lag4m',
                            'lag5m',
                            'lag6m',
                            'lag7m',
                            'lag8m',
                            'lag9m',
                            'lag10m',
                            'lag11m',
                            'lag12m',
                            'delta1',
                            'delta2',
                            'delta3',
                            'delta4',
                            'delta5',
                            'delta6',
                            'delta7',
                            'delta8',
                            'delta9',
                            'delta10',
                            'delta11',
                            'delta12',
                            'monthly_percentage',
                            'lowerextremepoint',
                            'upperextremepoint'],
 'num_val_windows': 3,
 'prediction_length': 2,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': False,
 'target': 'target',
 'val_step_size': 1,
 'verbosity': 2}

train_data with frequency 'None' has been resampled to frequency 'ME'.
Provided train_data has 22375 rows (NaN fraction=0.1%), 780 time series. Median time series length is 36 (min=4, max=36).
	Removing 75 short time series from train_data. Only series with length >= 9 will be used for training.
	After filtering, train_data has 21916 rows (NaN fraction=0.1%), 705 time series. Median time series length is 36 (min=9, max=36).

Provided data contains following columns:
	target: 'target'
	known_covariates:
		categorical:        []
		continuous (float): ['month', 'quarter', 'days_in_month', 'sundays', 'saturdays', 'lag1m', ...]
	static_features:
		categorical:        ['cat1', 'cat2', 'cat3', 'brand']
		continuous (float): ['sku_size']

To learn how to fix incorrectly inferred types, please see documentation for TimeSeriesPredictor.fit

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-06-20 20:34:51
Models that will be trained: ['SeasonalNaive', 'RecursiveTabular', 'DirectTabular', 'CrostonSBA', 'NPTS', 'DynamicOptimizedTheta', 'AutoETS', 'AutoARIMA', 'Chronos[base]', 'TemporalFusionTransformer', 'DeepAR', 'PatchTST']
Training timeseries model SeasonalNaive.
	-0.2308       = Validation score (-WQL)
	4.87    s     = Training runtime
	0.90    s     = Validation (prediction) runtime
Training timeseries model RecursiveTabular.
	Time series in the dataset are too short for chosen differences [12]. Setting differences to [1].
	Time series in the dataset are too short for chosen differences [12]. Setting differences to [1].
	Time series in the dataset are too short for chosen differences [12]. Setting differences to [1].
	-0.1557       = Validation score (-WQL)
	487.58  s     = Training runtime
	2.33    s     = Validation (prediction) runtime
Training timeseries model DirectTabular.
	-0.0537       = Validation score (-WQL)
	2212.04 s     = Training runtime
	10.34   s     = Validation (prediction) runtime
Training timeseries model CrostonSBA.
	-0.2092       = Validation score (-WQL)
	32.35   s     = Training runtime
	0.85    s     = Validation (prediction) runtime
Training timeseries model NPTS.
	-0.2802       = Validation score (-WQL)
	2.80    s     = Training runtime
	1.36    s     = Validation (prediction) runtime
Training timeseries model DynamicOptimizedTheta.
	-0.2017       = Validation score (-WQL)
	58.17   s     = Training runtime
	1.99    s     = Validation (prediction) runtime
Training timeseries model AutoETS.
	Warning: AutoETS\W0 failed for 45 time series (6.4%). Fallback model SeasonalNaive was used for these time series.
	Warning: AutoETS\W1 failed for 30 time series (4.3%). Fallback model SeasonalNaive was used for these time series.
	-0.1946       = Validation score (-WQL)
	113.36  s     = Training runtime
	37.85   s     = Validation (prediction) runtime
Training timeseries model AutoARIMA.
	-0.2363       = Validation score (-WQL)
	187.43  s     = Training runtime
	93.09   s     = Validation (prediction) runtime
Training timeseries model Chronos[base].
	Warning: Exception caused Chronos[base] to fail during training... Skipping this model.
	Chronos[base]\W0 requires a GPU to run, but no GPU was detected. Please make sure that you are using a computer with a CUDA-compatible GPU and `import torch; torch.cuda.is_available()` returns `True`.
Training timeseries model TemporalFusionTransformer.
	-0.3578       = Validation score (-WQL)
	3006.32 s     = Training runtime
	1.40    s     = Validation (prediction) runtime
Training timeseries model DeepAR.
	-0.3145       = Validation score (-WQL)
	774.49  s     = Training runtime
	2.00    s     = Validation (prediction) runtime
Training timeseries model PatchTST.
	-0.1949       = Validation score (-WQL)
	345.81  s     = Training runtime
	0.65    s     = Validation (prediction) runtime
Fitting simple weighted ensemble.
	Ensemble weights: {'DirectTabular': 0.95, 'RecursiveTabular': 0.05}
	-0.0529       = Validation score (-WQL)
	5.57    s     = Training runtime
	12.67   s     = Validation (prediction) runtime
Training complete. Models trained: ['SeasonalNaive', 'RecursiveTabular', 'DirectTabular', 'CrostonSBA', 'NPTS', 'DynamicOptimizedTheta', 'AutoETS', 'AutoARIMA', 'TemporalFusionTransformer', 'DeepAR', 'PatchTST', 'WeightedEnsemble']
Total runtime: 7391.98 s
Best model: WeightedEnsemble
Best model score: -0.0529

In [11]:
predictor.leaderboard()

,model,score_val,pred_time_val,fit_time_marginal,fit_order
0,WeightedEnsemble,-0.052856,12.671370,5.567759,12
1,DirectTabular,-0.053677,10.336394,2212.036083,3
2,RecursiveTabular,-0.155657,2.334975,487.577084,2
3,AutoETS,-0.194559,37.847531,113.357014,7
4,PatchTST,-0.194902,0.652799,345.814017,11
5,DynamicOptimizedTheta,-0.201713,1.992769,58.167434,6
6,CrostonSBA,-0.209206,0.845729,32.353204,4
7,SeasonalNaive,-0.230813,0.898925,4.867838,1
8,AutoARIMA,-0.236277,93.094557,187.426256,8
9,NPTS,-0.280167,1.360631,2.797949,5
10,DeepAR,-0.314526,1.998392,774.493071,10
11,TemporalFusionTransformer,-0.357788,1.396079,3006.323532,9

In [12]:
predictor.feature_importance()

Computing feature importance

                    importance     stdev    n   p99_low  p99_high
cat1                  0.000000  0.000000  5.0  0.000000  0.000000
cat2                  0.000000  0.000000  5.0  0.000000  0.000000
cat3                  0.000000  0.000000  5.0  0.000000  0.000000
brand                 0.000000  0.000000  5.0  0.000000  0.000000
sku_size             -0.000112  0.000080  5.0 -0.000278  0.000053
month                 0.001851  0.002916  5.0 -0.004153  0.007856
quarter               0.000774  0.001693  5.0 -0.002712  0.004260
days_in_month         0.000127  0.000505  5.0 -0.000912  0.001166
sundays               0.000166  0.000355  5.0 -0.000564  0.000896
saturdays             0.000351  0.001038  5.0 -0.001787  0.002489
lag1m                 0.049226  0.016924  5.0  0.014379  0.084073
lag2m                 0.006863  0.006346  5.0 -0.006203  0.019929
lag3m                 0.001324  0.003242  5.0 -0.005351  0.007999
lag4m                 0.000389  0.001458  5.0 -0.002612  0.003391
lag5m                -0.000205  0.001325  5.0 -0.002932  0.002522
lag6m                 0.000060  0.001438  5.0 -0.002901  0.003022
lag7m                -0.000117  0.000845  5.0 -0.001857  0.001623
lag8m                -0.000108  0.003082  5.0 -0.006453  0.006237
lag9m                 0.001581  0.002154  5.0 -0.002854  0.006016
lag10m                0.000840  0.000514  5.0 -0.000217  0.001898
lag11m                0.000570  0.000433  5.0 -0.000323  0.001462
lag12m                0.001026  0.000572  5.0 -0.000151  0.002203
delta1                0.073868  0.016895  5.0  0.039081  0.108655
delta2                0.031663  0.007191  5.0  0.016857  0.046468
delta3                0.012122  0.002835  5.0  0.006285  0.017959
delta4                0.009177  0.005954  5.0 -0.003082  0.021435
delta5                0.006180  0.002706  5.0  0.000607  0.011752
delta6                0.005603  0.003100  5.0 -0.000780  0.011985
delta7                0.004356  0.003164  5.0 -0.002160  0.010871
delta8                0.001653  0.000738  5.0  0.000134  0.003172
delta9                0.001167  0.001130  5.0 -0.001161  0.003494
delta10               0.000454  0.000529  5.0 -0.000636  0.001543
delta11               0.000970  0.000674  5.0 -0.000419  0.002358
delta12               0.001481  0.000722  5.0 -0.000006  0.002968
monthly_percentage    0.093308  0.052996  5.0 -0.015811  0.202428
lowerextremepoint     0.002689  0.001934  5.0 -0.001294  0.006671
upperextremepoint     0.001445  0.003031  5.0 -0.004795  0.007685

In [13]:
known_covariates_future = df_related[df_related.timestamp > df.timestamp.max()]
# Llevamos las fechas futuras a fin de mes porque así lo espera el metodo predict
known_covariates_future['timestamp'] = pd.to_datetime(known_covariates_future['timestamp'])
known_covariates_future['timestamp'] = known_covariates_future['timestamp'] + pd.offsets.MonthEnd(0)
known_covariates_future['timestamp'] = known_covariates_future['timestamp'].dt.strftime('%Y-%m-%d')
print(known_covariates_future.timestamp.min(), known_covariates_future.timestamp.max())
known_covariates_future = TimeSeriesDataFrame.from_data_frame(known_covariates_future,
                                                              id_column="item_id",
                                                              timestamp_column="timestamp")
known_covariates_future.head()

2020-01-31 2020-02-29

                    month  quarter  days_in_month  sundays  saturdays  \
item_id timestamp
20001   2020-01-31      1        1             31        4          4
        2020-02-29      2        1             29        4          5
20002   2020-01-31      1        1             31        4          4
        2020-02-29      2        1             29        4          5
20003   2020-01-31      1        1             31        4          4

                         lag1m       lag2m       lag3m       lag4m  \
item_id timestamp
20001   2020-01-31  1504.68856  1397.37231  1561.50552  1660.00561
        2020-02-29         NaN  1504.68856  1397.37231  1561.50552
20002   2020-01-31  1087.30855  1423.57739  1979.53635  1090.18771
        2020-02-29         NaN  1087.30855  1423.57739  1979.53635
20003   2020-01-31   892.50129   948.29393  1081.36645   967.77116

                         lag5m  ...  delta6  delta7  delta8  delta9  delta10  \
item_id timestamp               ...
20001   2020-01-31  1261.34529  ...     NaN     NaN     NaN     NaN      NaN
        2020-02-29  1660.00561  ...     NaN     NaN     NaN     NaN      NaN
20002   2020-01-31   813.78215  ...     NaN     NaN     NaN     NaN      NaN
        2020-02-29  1090.18771  ...     NaN     NaN     NaN     NaN      NaN
20003   2020-01-31   635.59563  ...     NaN     NaN     NaN     NaN      NaN

                    delta11  delta12  monthly_percentage  lowerextremepoint  \
item_id timestamp
20001   2020-01-31      NaN      NaN            7.308178                NaN
        2020-02-29      NaN      NaN            7.212629                NaN
20002   2020-01-31      NaN      NaN            8.980967                NaN
        2020-02-29      NaN      NaN            7.394508                NaN
20003   2020-01-31      NaN      NaN           10.242019                NaN

                    upperextremepoint
item_id timestamp
20001   2020-01-31                NaN
        2020-02-29                NaN
20002   2020-01-31                NaN
        2020-02-29                NaN
20003   2020-01-31                NaN

[5 rows x 32 columns]

In [14]:
predictions = predictor.predict(data,
                                known_covariates = known_covariates_future)

data with frequency 'None' has been resampled to frequency 'ME'.
Model not specified in predict, will default to the model with the best validation score: WeightedEnsemble

In [15]:
predictions_v1 = predictions.copy()
predictions_v1 = predictions_v1.reset_index()
predictions_v1 = predictions_v1[["item_id", "timestamp", "mean"]]
predictions_v1 = predictions_v1[predictions_v1.timestamp == "2020-02-29"]
predictions_v1 = predictions_v1.drop(columns = {"timestamp"})
predictions_v1 = predictions_v1.rename(columns = {"item_id":"product_id", "mean":"tn"})
predictions_v1.head(5)

   product_id           tn
1       20001  1401.573364
3       20002  1086.291748
5       20003   810.216919
7       20004   583.750427
9       20005   546.370300

In [16]:
predictions_v1.to_csv("C:/Users/usuario/otros/Desktop\MCD/6 Labo III/Forecasting Problem/Outputs/prediccion_autogluon_static_features_and_covariates_newFeatures.csv", sep = ",", index = False)